.body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: #fff;
    text-align: center;
  }
  
  .h1 {
    text-align: center;
    color: aliceblue;
  }

  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }

  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .explanation {
    text-align: justify;
    font-size: 14px;
    color: #777;
  }
  
  #bmiDescription {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  